body
{
	font-size: 30px;
	font-family: Chalkboard, ‘Comic Sans’, sans-serif;
	margin-top:30px;
	color:black;
}

.jumbotron
{
	position: relative;
	background-color: #70a6ff;
}

.placeGuesses
{
	font-size: 30px;
}

.placeWins
{
	font-size: 30px;
}

.placeLosses
{
	font-size: 30px;
}

#currentWord
{
	font-size: 4vw;
}

h2
{
	border-bottom: 1px solid gray;
	font-size:30px;
}

#userGuesses
{
	font-size: 30px;
}

#alreadyGuessed
{
	font-style: 30px;
	color:blue;
}

#guesses, 
#wins, 
#losses,
#previousWord
{
	font-size: 30px;
}

#previousWord
{
	position: absolute;
	top:0px;
	right:20px;
}

#chartContainer
{
	height:100%;
	width: 100%
}

.chartdiv
{
	border:1px solid black;
}
